.container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e4edd7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-container {
  background-color: #85bad9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: auto;
  min-height: 100px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.notification-radio {
  display: inline-block;
  margin-right: 20px;
}

.checkbox-group {
  display: inline-block;
  margin-right: 20px;
}

.signup-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Styles for when the button is hovered */
.signup-button:hover, .delete-button:hover {
  transform: scale(1.1); /* Scale up by 10% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}
.form-group label {
  vertical-align: middle;
}

/* Add these styles to your styles.css file */
.input-field {
  margin-bottom: 10px;
}

.button-spacing {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
.delete-container {
  background-color: #85bad9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: auto;
}
.containerbuttons {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #e4edd7;
display: flex;
flex-direction: column; /* Change from "row" to "column" */
justify-content: center;
align-items: center;
min-height: 100vh;
}